<!doctype html>

<html>

<head>
  <title>My Packages | SpaceShip</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/mypackages.css" rel="stylesheet">
  <script src="/js/mypackages.js"></script>
</head>

<body>
  {{> navbar}}
  <div class="mypackages">

    <h3>
      <SPAN>MY PACKAGES</SPAN>
      <!-- <h6> No packages to show! </h6> -->
    </h3>

    {{#if packages}}
    {{#each packages}}
    <div class="package" id={{this.shipment_id}}>

      <h5><b><u>Origin</u></b></h5>
      <div>
        <p>{{this.origin.address_line1}}, {{this.origin.address_line2}} </p>
        <p>{{this.origin.city_locality}}, {{this.origin.state_province}}, {{this.origin.postal_code}}</p>
      </div>

      <h5><b><u>Destination</u></b></h5>
      <div>
        <p>{{this.destination.address_line1}}, {{this.destination.address_line2}} </p>
        <p>{{this.destination.city_locality}}, {{this.destination.state_province}}, {{this.destination.postal_code}}</p>
      </div>

      <h5><b><u>Dimensions</u></b></h5>
      <div>
        <p>{{this.package.length}} inches <b>x</b> {{this.package.width}} inches <b>x</b> {{this.package.height}} inches
        </p>
        <p>{{this.package.weight}} ounces</p>
      </div>

      <div class="buttonRow">
        <button class="btn btnd-lg btn-primary rateBtn" id="remove" type="button">Remove</button>
        <button class="btn btnd-lg btn-primary rateBtn" id="rates" type="button">Rates</button>
      </div>
    </div>
    {{/each}}
    {{else}}
    <p>No packages to show!</p>
    {{/if}}

  </div>
</body>

</html>