<html>

<head>
    <title>Rates | SpaceShip</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- use Open Sans as main font. import from google  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/rates.css" rel="stylesheet">
    <script src="/js/rates.js"></script>
</head>

<body>
    {{> navbar}}

    <div class="results">
        <h3>
            <SPAN>SHIPPING RATES</SPAN>

            <div class="arrow">
                <div class="arrow-top" onclick="history.back()"></div>
                <div class="arrow-bottom" onclick="history.back()"></div>
            </div>
        </h3>




        <div class="details">
            <h4 style="font-family: 'Orbitron">Shipment Details</h4>
            <div class="detail-location">
                <b>Origin:&nbsp;</b>
                <p>{{response.ship_from.city_locality}}, {{response.ship_from.state_province}},
                    {{response.ship_from.postal_code}}</p>
            </div>
            <div class="detail-location">
                <b>Destination:&nbsp;</b>
                <p>{{response.ship_to.city_locality}}, {{response.ship_to.state_province}},
                    {{response.ship_to.postal_code}}</p>
            </div>
        </div>

        <div class="buttonRow">
            <div class="add_container">
                <button id="addPackage" onclick="addPackage();" class="btn">Add to MyPackages</button>
            </div>
            <div class="new_container">
                <button onclick="window.location.href = '/calculator'" class="btn">New Package</button>
            </div>
            <!-- <button class="btn btnd-lg btn-primary rateBtn" onclick="history.back()" type="button">Previous</button> -->
            <!--  <button class="btn btnd-lg btn-primary rateBtn" id="addPackage" type="button">Add Package</button>
            <button class="btn btnd-lg btn-primary rateBtn" onclick="window.location.href='/calculator'"
                type="button">New Package</button> -->
        </div>

        {{#each response.rate_response.rates}}
        <div class="options">
            <div class="img">
                <img src="#" alt="carrierlogo" class="carrierimg img-responsive img-rounded" />
            </div>
            <div style="width: 60%; justify-content: flex-end;">
                <p style="margin: 0.25rem 0;"><b><u>Service</u>: </b>{{service_type}}</p>
                <p style="margin: 0.25rem 0;"><b><u>Delivery</u>: </b>{{delivery_days}} days</p>
                <p style="margin: 0.25rem 0;"><b><u>Service Cost</u>: </b>${{shipping_amount.amount}}</p>
                {{#if insurance_amount.amount}}
                <p style="margin: 0.25rem 0;"><b><u>Insurance Cost</u>: </b>${{insurance_amount.amount}}</p>
                {{/if}}
            </div>
            <script data={{carrier_code}}>
                var img = document.getElementsByClassName("carrierimg")[{{@index}}];
                if (document.currentScript.getAttribute('data') === "stamps_com") {
                    img.setAttribute("src", "https://mailomg.files.wordpress.com/2017/09/usps_eagle-symbol.png");
                } else if (document.currentScript.getAttribute('data') == "fedex") {
                    img.setAttribute("src", "https://4.bp.blogspot.com/-8qFlLqWHhqI/U6gzRjwnayI/AAAAAAAAgPo/miK3bshfv_k/s1600/FedEx+logo+1994.png");
                } else if (document.currentScript.getAttribute('data') == "ups") {
                    img.setAttribute("src", "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/United_Parcel_Service_logo_2014.svg/1200px-United_Parcel_Service_logo_2014.svg.png");
                }
            </script>
        </div>
        {{/each}}
    </div>

</body>

</html>